<html>
    <head>
        <style>
            @media screen , print {
                body {
                    margin: 0;
                    text-align:center;
                }
                .table_style {
                    width: 100%;
                }
                .table_style td {
                    text-align: left;
                    padding: 0 0 0 3.175mm;
                }
                .space {
                    height: 2.645833333mm;
                }
                .div_print {
                    width: 78mm;
                    height: 25mm;
                    margin-left: 3.735416667mm;
                    border-width: 1px;
                    border-style: solid;
                    border-color: red;
                    float: left;
                }
                .part_dec_print {
                    font: 3mm arial;
                    text-align: left;
                    padding-left: 1.5875mm;
                    height: 8.5mm;
                }
                .p_tag {
                    height: 100%;
                    vertical-align: middle;
                    padding-top: 1.5875mm;
                }

                .qty_span {
                    padding-top: 1.5875mm;
                }
                .part_print {
                    font: 6.5mm arial;
                    height: 6.5mm;
                    text-align: left;
                    padding-left: 1.5875mm;
                }
                .bar_print {
                    padding-left: 3.96875mm
                }
                .qty_print {
                    font: 6.5mm arial;
                    text-align: center;
                    height: 6.5mm;
                }
                .date_print {
                    font: 2mm arial;
                    text-align: right;
                    padding-right: 4.645833333mm;
                    margin-top: 4.995833333mm;
                    height: 2mm;
                }
            }
        </style>
    </head>
    <body cz-shortcut-listen="true">
        <div class="div_print">
            <div class="part_dec_print">
                <div class="p_tag">REAR FABRIC SCVR</div>
            </div>
            <div class="part_print">PZQ22-12100</div>
            <div class="bar_print">
                <img alt="testing" src="./radF19BA.png" width='15mm' height='15mm'>
            </div>
            <div class="qty_print">1</div>
            <div class="date_print">23A4</div>
        </div>
        <div class="div_print">
            <div class="part_dec_print">
                <div class="p_tag">TEST 2 aqui aliR</div>
            </div>
            <div class="part_print">PZQ22-12100</div>
            <div class="bar_print">
                <img alt="testing" src="http://radF19BA.png">
            </div>
            <div class="qty_print">1</div>
            <div class="date_print">23A4</div>
        </div>
        <div class="div_print">
            <div class="part_dec_print">
                <div class="p_tag">REAR FABRIC SCVR</div>
            </div>
            <div class="part_print">PZQ22-12100</div>
            <div class="bar_print">
                <img alt="testing" src="./radF19BA.png" width='15mm' height='15mm'>
            </div>
            <div class="qty_print">1</div>
            <div class="date_print">23A4</div>
        </div>
        <div class="div_print">
            <div class="part_dec_print">
                <div class="p_tag">CVRacl</div>
            </div>
            <div class="part_print">PZQ22-12100</div>
            <div class="bar_print">
                <img alt="testing" src="./radF19BA.png" width='15mm' height='15mm'>
            </div>
            <div class="qty_print">1</div>
            <div class="date_print">23A4</div>
        </div>
    </body>
</html>
